<h1>Listing assessments</h1>

<table>
  <tr>
    <th>Anxiety</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assessments.each do |assessment| %>
  <tr>
    <td><%= assessment.anxiety %></td>
    <td><%= link_to 'Show', assessment %></td>
    <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
    <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assessment', new_assessment_path %>
