
<!--	——————————————————————————————————————————————————
		Child # show
		——————————————————————————————————————————————————
-->
<!-- find a way to do this for all views in this controller, rather than one -->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.child").addClass("active")
		});
	</script>
	<style type="text/css">
	
		/* Customize the Bootstrap Carousell ————————————— */

	    .carousel {
	      margin-bottom: 20px;
	    }
	    .carousel .container {
	      position: relative;
	      z-index: 9;
	    }
	    .carousel-control {
	      height: 50px;
	      margin-top: 0;
	      font-size: 120px;
	      text-shadow: 0 1px 1px rgba(0,0,0,.4);
	      background-color: gray;
	      border: 0;
	      z-index: 10;
	    }
	    .carousel .item {
	      height: 210px;
	    }
	    .carousel img {
	      position: absolute;
	      top: 0;
	      left: 0;
	      height: 210px;
	    }

	    .carousel-caption {
	      background-color: transparent;
	      position: static;
	      max-width: 200px;
	      padding: 0 20px;
	      margin-top: 100px;
	    }
	    .carousel-caption h1,
	    .carousel-caption .lead {
	      margin: 0;
	      line-height: 1.25;
	      color: #fff;
	      text-shadow: 0 1px 1px rgba(0,0,0,.4);
	    }
	    .carousel-caption .btn {
	      margin-top: 10px;
	    }
	


	</style>
<% end %>

<%= content_for :sidebar do %>
	<!-- <ul class="nav nav-list bs-docs-sidenav affix"> -->
	<ul class="nav nav-pills nav-stacked affix">
		<li class="active"><a href="#topic1"><i class="icon-chevron-right"></i>Autism</a></li>
		<li><a href="#topic2"><i class="icon-chevron-right"></i>Focus and ADHD</a></li>
		<li><a href="#topic3"><i class="icon-chevron-right"></i>Depression and Mood</a></li>
		<li><a href="#topic4"><i class="icon-chevron-right"></i>Anxiety and Panic</a></li>
	</ul>
<% end %>

<%= content_for :main do %>

	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
      <div class="carousel-inner">
	
        <div class="item active">
        	<%= image_tag("child/composites_630x210/composite-1.jpg") %>
          <div class="container">
            <div class="carousel-caption">
				<!-- 
              	<h4>First Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis .</p>
				-->
            </div>
          </div>
        </div>

        <div class="item">
         <%= image_tag("child/composites_630x210/composite-2.jpg") %>
          <div class="container">
            <div class="carousel-caption">
				<!-- 
           		<h4>Second Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis</p> 
        		-->
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("child/composites_630x210/composite-3.jpg") %>
          <div class="container">
            <div class="carousel-caption">
				<!-- 
            	<p>caption 3</p>
				-->
            </div>
          </div>
        </div>
	
      </div> <!-- end div.carousel-inner -->


      <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		-->
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>


    </div><!-- /.carousel -->

	<section id="page_introduction">	
	</section>
	
	<!-- 1 —————————————————————————————— -->
	<section id="topic1">
		<h2>Autistic Spectrum Disorders</h2>
		<p>Neurotransmitter testing and amino acid therapy can be helpful with many aspects of autism spectrum disorders.  Improvements in sleep cycle, anxiety/worry, restlessness, impulsivity, screaming, reduction in sensitivities (textural and auditory), mood issues as well as focus and memory are just some of the symptoms that can be expected to improve with this therapy.  A healthy gut is necessary for absorbing nutrients.  Liposomal Liquid supplementation has been developed for patients that do not have a fully healed intestinal tract or those that need liquids over capsules. </p>
	</section>
	
	<!-- 2 —————————————————————————————— -->
	<section id="topic2">
		<h2>Focus Issues and ADHD</h2>
		<p>Focus issues and ADHD-like symptoms are often due to deficiencies in neurotransmitters. The over production of excitatory and underproduction of inhibitory neurotransmitters are common in children who have a hard time focusing. This can look like daydreaming, anxiety, or impulsive actions, and can be adjusted.</p>

		 <p>Norepinephrine and Epinephrine. Both of these neurotransmitters are involved in cognitive function. As such, the prescription medication commonly used for the treatment of ADHD (Ritalin) is thought to provide a stimulating effect in the Central Nervous System resulting in increased release of the neurotransmitters Norepinephrine and Dopamine.</p>

		<p>Additionally, research has indicated that several biochemical factors may play a role in ADHD-like symptoms. This includes food allergies and sensitivity to food additives such as flavor enhancers, coloring agents, as well as preservatives. Gastro intestinal (GI) dysfunction,  heavy metal and environmental, vitamin and mineral deficiencies essential fatty acids (omega-3 series) and phospholipid deficiencies, thyroid disorders as well as genetic predisposition can all play a role. This too can be tested for and marked improvements in functioning are reported.</p>
	</section>
	
	<!-- 3 —————————————————————————————— -->
	<section id="topic3">
		<h2>Depression and Mood Disorders</h2>
		<p>Ones mood is regulated by several different factors, their environment and their brain chemistry.  It is extremely common for people who are suffering from symptoms of depression, lethargy, and incongruent mood to have deficient inhibitory support, most commonly serotonin.  The only way to tell for sure is through testing.  When serotonin and other neurotransmitters are in balance, we can create a much more receptive environment for change to occur.  When we are able to change the brain, new and positive thinking patterns can occur.</p>
	</section>
	
	<!-- 4 —————————————————————————————— -->
	<section id="topic4">
		<h2>Anxiety and Panic Disorder</h2>
		<p>Inability to let go of worries, incessant chattering, obsessive and compulsive behaviors are all systemic of underlining and deep rooted anxiety.  Many children express anxious feelings in different ways, tantrums, avoidance and dissociation, inability to let go of thoughts, overwhelming urges, self-harm (picking, scratching), repetitive behaviors, and verbal expression. Anxiety can come from a variety of internal and external cues, regardless of how they came about, the brain changes in response to the stress.</p> 

		<p>Balancing neurotransmitters can help attain a calm, children who have never felt settled can finally turn down the “volume” in their brains.   The correct ratios between neurotransmitters, specifically the excitatory and inhibitory neurotransmitters is effective in providing the brain with the support it needs to combat the anxiety symptoms.  In many of the neurotransmitter panels that we have completed there is a higher level of excitatory neurotransmitters than inhibitory neurotransmitters.  As you can imagine, any excitatory input can easily push a child who is already sensitive. Neurotransmitter balancing is considered to be a long-term, effective solution.</p>
	</section>
<% end %>