<!--
		——————————————————————————————————————————————————
		Supplement # index
		——————————————————————————————————————————————————
-->
<!-- find a way to do this for all views in this controller, rather than one -->


<%=  data = Rails.cache.read('gon_variables') || {} %>

<%=  script = "<script>window.Gon = {};" %>
<%=  data.each do |key, val| %>
<%=    script += "Gon." + key.to_s + val.to_json + ";" %>
<%  end %>
<%=  script += "</script>" %>
<%=  script.html_safe %>


<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.supplement").addClass("active")
		});
	</script>
<% end %>



<%= content_for :sidebar do %>
	<!-- no left-nav on this page: no subtopics,and it allows table to be wider -->
<% end %>

<%= content_for :main do %>
	<section id="standin">
		<p style="font-style:italic">[ Stub: Allow clients to order individual supplements in addition to ordering all of those recommended by a program? ]</p>

		<table class="table">
			<thead>
				
				<th style="width:80px;">Item</th>
				<th></th>
				<th>Name</th>
				<th>Description</th>
				<th>Servings</th>
				<th>Price</th>
				<th>No<th>
			</thead>
			<tbody>
			<% user = current_user %>
			<% order = current_user.orders.create %>
			<strong>
			<% @supplements.each do |s| %>
				<tr>
					<td><%= s.bluespot_sku %></td>
					<td><%= image_tag "supplements/" + s.image_thumbnail_URL %></td>
					<td><%= raw(s.name) %></td>
					<td><%= s.cart_description %></td>
					<td><%= s.servings_per_container %></td>
					<td><%= number_to_currency(s.price) %></td>
			<form>
				<td><%=	text_field_tag "#{s.bluespot_sku}" %></td>
				</tr>


  				<% end %>
  				
  				</strong>


				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2">
					</br>
							<%=	submit_tag "Submit" %>
						</button>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			</form>
			
		</table>
	</section>
	
	<!-- modal displays ——————————————————————————————————————— -->
	
	<div id="T-SP610" class="modal hide fade">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<h2 style="padding-left:20px;">[ Test Modal: a product]</h2>
	  	</div>
	  	<div class="modal-body" style="padding:20px;">
	    	<%= render '/shared/about_us' %>
	  	</div>

	  	<div class="modal-footer">
	    	<!-- <a href="#" class="btn">Close</a> -->
	  	</div>

	</div>

<% end %>


