<!-- 
	——————————————————————————————————————————————————
		Program # show
	———————————————————————————————————————————————————
-->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.program").addClass("active")
		});
	</script>
<% end %>

<%= content_for :sidebar do %>

	<!-- <ul class="nav nav-list bs-docs-sidenav affix"> -->
	<ul class="nav nav-pills nav-stacked affix">
		<li class="active"><a href="#program"><i class="icon-chevron-right"></i>Program</a></li>
		<li><a href="#conditions"><i class="icon-chevron-right"></i>What is it for?</a></li>
		<li><a href="#cost"><i class="icon-chevron-right"></i>What does it cost?</a></li>
		<li><a href="#start"><i class="icon-chevron-right"></i>How Do I Get Started?</a></li>
		<li><a href="#results"><i class="icon-chevron-right"></i>What Results Can I Expect?</a></li>
		<li><a href="#different"><i class="icon-chevron-right"></i>What's Different?</a></li>
		<li><a href="#who"><i class="icon-chevron-right"></i>Who Can Benefit?</a></li>
		<li><a href="#newsletter"><i class="icon-chevron-right"></i>Sign UP for Newsletter</a></li>

	</ul>
<% end %>

<%= content_for :main do %>
	<style>
		h2 { font-size:18px; color:#0088CC;}
	</style>
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">

	    <div class="item active">
	    	<%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
	        </div>
	      </div>
	    </div>

	    <div class="item">
	     <%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p> 
    
	        </div>
	      </div>
	    </div>

	    <div class="item">
	      <%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	        	<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
	        </div>
	      </div>
	    </div>

	  </div> <!-- end div.carousel-inner -->


	  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		-->
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>


	</div><!-- /.carousel -->
	<section id="program">
		<h2>What is the Wired-Differently Children's Brain Health Program?</h2>
		<p>We developed the Wired-Differently® Children's Brain Health Program to help individuals and families. It is a division of Wired-Differently, a company founded a few years ago to help me make this scientific program available to the large number of people who are looking for a simple, all- natural approach to brain chemistry balancing. It is complex to support healthy neurotransmitter levels, and it takes a comprehensive system to be successful. We made it easy for you to do, and have taken the guesswork out.</p>

		<p>This is an affordable, time-tested and highly effective program with a clinically verifiable track record, which has helped thousands of people over the past ten years. It is scientifically based so you can depend on the results and it's easy to do. We use all-natural, safe products with no side effects, which do not interfere with most medications. With our ongoing support, you receive the help you need every step of the way so that your child can progress and continue to feel better and better. We even offer psycho education by our specialist in the field and neurotransmitter consults. These are tailored to your child's needs and provide additional help when needed.</p>
	</section>
	<section id="conditions">
		<h2>What is it For?</h2>
		<p>Wired Differently may be able to help you and your child with:</p>
			<ul>
				<li>ADD/ADHD</li>
				<li>At-Risk Children</li>
				<li>Depression and Anxiety</li>
				<li>Mood Issues</li>
				<li>Attachment Issues</li>
				<li>Impulsive and Aggressive Behaviors</li>
				<li>Unprovoked Meltdowns</li>
				<li>Irritability</li>
				<li>Sleep Issues: Night terrors, Trouble falling asleep, or staying asleep</li>
				<li>Sensory integration issues</li>

				<li>Focus and concentration</li>
				<li>Hyper-vigilance and compulsive behaviors</li>
				<li>Domestic and International Adoptees</li>
			</ul>
	</section>
	<section id="cost">
		<h2>Cost</h2>		
		<p>The Wired-Differently® Children's Brain Health Program is $320.00 and includes:
		<ul>
			<li>A Neurotransmitter Laboratory Test Kit - A simple urine test that contains everything you need to take your sample in the privacy of your home. Laboratory fees, shipping /handling and Free FedEx return postage (domestic only) are all included.</li>
			<li>A Personal Intake Appointment - A half-hour phone consult with a children's clinical assessment specialist to review your chill's history</li>
			<li>A Wired-Differently® Brain Health Report including your customized protocol</li>
			<li>The Brain Health Connection membership</li>
			<li>"An Introduction to Neurotransmitter Balancing in Adopted Children" by Pam Machemehl Helmly, CN (Downloadable MP3 file) A valuable parent guide with specific information on brain chemistry balancing in at-risk children.</li>
			<li>A half-hour consultation with your Wired-Differently designated practitioner</li>
			<li>Additional consults with our Chief Science Officer Pam Machemehl Helmly CN, are available at an extra fee, as are parent educational consults and parent coaching with our Parent Educator and Child's Program Director Emily Roberts, MA.  Parent Coaching can be purchased with Emily for a discounted rate when purchased in full (170.00) for 180 minutes, which is covers 4  phone sessions, or 50.00 for  one 30 minutes session.</li>
		</ul>
		</p>
		
		
		<p>The amino acids and other supplements that are recommended based on your child's Brain Health Report, average between $60 and $120 per month.</p>
		<p>The Wired-Differently® Children's Brain Health Program Re-test is $270.00 and includes:
		<ul>	
			<li>A Neurotransmitter Laboratory Test Kit - A simple urine test that contains everything you need to take your sample in the privacy of your home. Laboratory fees, shipping /handling and Free FedEx return postage (domestic only) are all included.</li>
			<li>A Personal Follow-up Appointment - 15-20 minutes phone consult with a children's clinical assessment specialist</li>
			<li>A Wired-Differently® Brain Health Report including your customized protocol</li>
			<li>The Brain Health Connection membership</li>
			<li>"An Introduction to Neurotransmitter Balancing in Adopted Children" by Pam Machemehl Helmly, CN (Downloadable MP3 file) A valuable parent guide with specific information on brain chemistry balancing in at-risk children.</li>
			<li>15 minute follow-up consultation with your Wired-Differently designated practitioner</li>
		</ul>
		</p>
		<p>Additional consults with our Chief Science Officer Pam Machemehl Helmly CN, are available at an extra fee, as are parent educational consults and parent coaching with our Parent Educator and Child's Program Director Emily Roberts, MA.  Parent Coaching can be purchased with Emily for a discounted rate when purchased in full (170.00) for 180 minutes, which is covers 4  phone sessions, or 50.00 for one 30 minute session.</p>
		<p>The amino acids and other supplements that are recommended based on your child's Brain Wellness Report, average between $60 and $120 per month.</p>
	</section>

	<section id="start">
		<h2>Get Started</h2>
		<p>Get started by filling out your child's eHealth Profile.&nbsp;&nbsp;<%= button_to "Start", new_patient_path, :class => "btn btn-primary", :method => :get %> </p>
	</section>
	
	<section id="results">
		<h2>What Part Do Neurotransmitters Play In Behavior?</h2>
		<p>Scientific evidence points to several reasons for neurotransmitter depletion.  Stress, genetics, drug usage, lack of protein, lack of omega 3 fatty acids, lack of sleep, early environmental stressors, and trauma can all rob you of what you were born with. Many adopted children have multiple problems  inherited from deficient moms, which are further compromised by the early bonding usually sorely lacking in orphanage life. Other traumatic events in early childhood development contributed as well.</p>
		<h2>What does Balance Feel Like?</h2>
		<p>Balanced, a good sense of well being, happy, interested and interesting, drive and motivation, good sleep patterns, normal reactions, calm and focused, productive, and much more. Balance is the beginning, the start of what you need to do what you want. Some of us, many of us, have never experienced this birthright. Now your child can.</p>
		<h2>The Good News</h2>
		<p>Over the course of many years and thousands of cases, we have observed that neurotransmitters can be restored or created with the use of targeted amino acids. Amino acids, like those found in certain foods, are what do it.  Astonishingly, brain chemicals are one of the few functions that you can build to a level that you never had to begin with. However, it's very difficult to get what you need from food alone. You need high concentrations of amino acids in the right dosages for your particular depletion and imbalance. That's where the complex science comes in. Since we are all unique - just like our fingerprints - our brain chemistry is as individual as we are. You can't imagine the variety of levels that contribute to the way you feel. It's easy to see why you need a scientific test to determine the levels, and an expert to help you understand the results.</p>
		<p>Some people try to do the self-help route; they use a book or take a product they buy in a health food store or on- line that promises to give them more clarity or focus.  This  may work for some people some of the time, but it is unlikely that it will work for most people, and it's almost impossible that it will work all the time. We have found that the chemicals in the brain change as we start to provide the nutrients required. Over the first six weeks or so we notice many improvements, some people notice it almost immediately. Some people feel so good they think that's as good as it gets, but they never know how good they could feel. Even though it's taken most people a long time to  deplete their brain chemistry and the good news is that it doesn't take very long to get into balance.</p>
	</section>
	
	<section id="different">
		<h2>What's Different About this Program?</h2>
		<p>Once you begin to understand your child's individual brain chemistry makeup, it is easier to tailor an educational program for his particular needs, one that will finally work. By marring the science of neurotransmitter balancing, and psycho-education,  you have a tool to change behaviors on two levels.  First balancing brain chemistry gives the child a foundation for change.  They now have a platform to build on.  Then you need the specific techniques suited for your child and his brain chemistry type.  Techniques that work with certain brain chemistry profiles will not be useful with others.  And as the child progresses the techniques grow and change with him.  We provide the tools, education, and counseling necessary to make real strides.
		</p>
	</section>
	
	<section id="who">
		<h2>Who Can Benefit from the Program?</h2>
		<p>Almost everyone can benefit from the Wired-Differently Brain Health Program. We have been working with individuals and families for years. Our clients include infants up through adults in their nineties. If you are wondering whether you or your child qualifies, it's easy to find out. Simply take the Free Self-Test and we will let you know if the program will suit you or your child. If your child qualifies, you will be given the opportunity to purchase the specific laboratory test that is right for him.
		</p>
	</section>

	<section id="newsletter">
		<h2>Stay Informed with Our Newsletter</h2>
		<ul>
			<li>Learn more about the science behind brain chemistry</li>
			<li>Understand why your child's behavior is not your fault</li>
			<li>Receive information on the specialized psycho education for parents to fully understand their child's brain chemistry and adapt their parenting interactions to their child's sensitivities.</li>
			<li>Get tips you can use right now that can make a difference</li>
			<li>...And much, much more!</li>
		</ul>
		<p>Email us for more information on these topics at assessment@www.wired-differently.com</p>
	</section>



<% end %>


