<!-- 
	——————————————————————————————————————————————————
		Program # show
	———————————————————————————————————————————————————
-->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.program").addClass("active")
		});
	</script>
<% end %>

<%= content_for :sidebar do %>

	<!-- <ul class="nav nav-list bs-docs-sidenav affix"> -->
	<ul class="nav nav-pills nav-stacked affix">
		<li class="active"><a href="#program"><i class="icon-chevron-right"></i>Program</a></li>
		<li><a href="#conditions"><i class="icon-chevron-right"></i>What is it for?</a></li>
		<li><a href="#cost"><i class="icon-chevron-right"></i>What does it cost?</a></li>
		<li><a href="#start"><i class="icon-chevron-right"></i>How Do I Get Started?</a></li>
		<li><a href="#results"><i class="icon-chevron-right"></i>What Results Can I Expect?</a></li>
		<li><a href="#different"><i class="icon-chevron-right"></i>What's Different?</a></li>
		<li><a href="#who"><i class="icon-chevron-right"></i>Who Can Benefit?</a></li>
		<li><a href="#newsletter"><i class="icon-chevron-right"></i>Sign UP for Newsletter</a></li>

	</ul>
<% end %>

<%= content_for :main do %>
	<style>
		h2 { font-size:18px; color:#0088CC;}
	</style>
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">

	    <div class="item active">
	    	<%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
	        </div>
	      </div>
	    </div>

	    <div class="item">
	     <%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p> 
    
	        </div>
	      </div>
	    </div>

	    <div class="item">
	      <%= image_tag("child/square_235x235/composite-4.jpg") %>
	      <div class="container">
	        <div class="carousel-caption">
	        	<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
	        </div>
	      </div>
	    </div>

	  </div> <!-- end div.carousel-inner -->


	  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		-->
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>


	</div><!-- /.carousel -->
	<section id="program">
		<h2>What is the Wired-Differently Children's Brain Health Program?</h2>
		The Wired-Differently® Children's Brain Health Program is designed to help individuals and families wresting with brain-related conditions like ADHD and childhood depression. It is based on nearly 8 years of clinical research. Over 12,000 kids from Austin, Texas and the surrounding area have been through the program. The program is sponsored by Blue Spot Wellness, Inc.  Blue Spot Wellness was founded earlier this year to help make this program available on a national basis to families who are looking for a simple, all-natural approach to brain chemistry balancing. Supporting healthy neurotransmitter levels is complex, and it takes a comprehensive system to be successful. We made it easy for you to do that for your kids.  Outcome tracking for thousands of kids has allowed us to remove much of the guesswork.</p>

		<p>This is an affordable, highly effective program with a clinically verifiable track record which has helped thousands of children over the past eight years. It is grounded in our growing understanding of neuroanatomy and neurotransmitter precursors. You can depend on the results.  And it's an easy program to follow. We use all-natural, safe products with no side effects. And we know what interactions with children's drug programs are contra-indicated. With our ongoing support, you receive the help you need every step of the way so that your child can progress and continue to feel better and better.</p>
		
	</section>
	<section id="conditions">
		<h2>What is the Program For?</h2>
		<p>The Wired Differently neurotransmitter balancing program may be able to help you and your child with:</p>
			<ul>
				<li>ADD/ADHD</li>
				<li>At-Risk children</li>
				<li>Depression and anxiety</li>
				<li>Mood issues</li>
				<li>Attachment issues</li>
				<li>Impulsive and aggressive behaviors</li>
				<li>Unprovoked meltdowns</li>
				<li>Irritability</li>
				<li>Sleep Issues: night terrors, trouble falling asleep, or staying asleep</li>
				<li>Sensory integration issues</li>

				<li>Focus and concentration</li>
				<li>Hyper-vigilance and compulsive behaviors</li>
				<li>Behavior and mood problems that surface with adopted children — both domestic and international</li>
			</ul>
	</section>
	<section id="cost">
		<h2>Cost</h2>		
		<p>The Wired-Differently® Children's Brain Health Program is $320.00 and includes:
		<ul>
			<li>A Neurotransmitter Laboratory Test - A simple urine test that contains everything you need to take your sample in the privacy of your home. Laboratory fees, shipping/handling and free FedEx domestic return postage are all included.</li>
			<li>A Personal Intake Appointment - A half-hour phone consult with a children's clinical assessment specialist to review your child's history</li>
			<li>A Wired-Differently® Brain Health Report and a program of nutraceuticals tailored to your child's particular physiology and neurotransmitter profile. One size does not fit all. </li>
			<li>Life-time membership in our Parent's forum — Brain Health for Kids.</li>
			<li>"An Introduction to Neurotransmitter Balancing in Adopted Children" by Pam Machemehl Helmly, CN  — a parent guide with specific information on brain chemistry balancing in at-risk children of all kinds.</li>
			<li>A half-hour consultation with your Wired-Differently designated practitioner</li>
			<li>Additional consults with our Chief Clinical Officer Pam Machemehl Helmly CN, are available at an extra fee, as are parent educational consults and parent coaching with our Parent Educators and our Children's Program Director, Emily Roberts, MA.  Parent Coaching can be purchased in a block of four 45-minute phone/online sessions ($180), or as single 30-minute session ($50). </li>
		</ul>
		</p>
		
		
		<p>The amino acids and other supplements that are recommended based on your child's Brain Health Report, average between $60 and $90 per month.</p>
		<p>The Wired-Differently® Children's Brain Health Program Re-Test is $260 and includes:
		<ul>	
			<li>A Neurotransmitter Laboratory Test</li>
			<li>A Personal Follow-up Appointment - A 15-20 minute phone consult with a children's clinical assessment specialist who will go over your child's lab tests with you, translating the results into language you can understand.</li>
			<li>A Wired-Differently® Brain Health Report including a modified protocol for the following period based on your progress in the initial period</li>
			<li>A 15 minute follow-up consultation with your Wired-Differently designated practitioner</li>
		</ul>
		</p>
		<p>Additional consults with our Chief Clinical Officer Pam Machemehl Helmly CN, are available at an extra fee, as are parent educational consults and parent coaching with our Parent Educators and Child's Program Director, Emily Roberts, MA. The same rates apply as they do for the initial one-year program.</p>
		<p>The amino acids and other supplements that are recommended based on your child's Brain Wellness Report, average between $60 and $90 per month.</p>
	</section>

	<section id="start">
		<h2>Get Started</h2>
		<p>Get started by filling out your child's eHealth Profile.&nbsp;&nbsp;<%= button_to "Start", new_patient_path, :class => "btn btn-primary", :method => :get %> </p>
	</section>
	
	<section id="results">
		<h2>What Part Do Neurotransmitters Play In Behavior?</h2>
		<p>There are several causes of neurotransmitter depletion.  Stress, genetics, drug usage, lack of protein, lack of omega 3 fatty acids, lack of sleep, early environmental stressors, and trauma can all rob children of the balance they were born with. Many adopted children have multiple problems inherited from mothers who had severe problems themselves, and they are further compromised by the lack of early bonding characteristic of orphanage life. Traumatic events in early childhood can contribute as well.</p>
		<h2>What does Balance Feel Like?</h2>
		<p>Balanced, a good sense of well being, happy, interested and interesting, drive and motivation, good sleep patterns, normal reactions, calm and focused, productive, and much more. Balance is the beginning, the start of what children need to become the rich individuals they can become. Some of us, many of us, have never experienced this birthright. Now your child can.</p>
		<h2>The Good News</h2>
		<p>Neurotransmitter balance can be restored with the use of targeted amino acids. Amino acids, like those found in certain foods, are the key.  Astonishingly, brain chemicals are one of the few functions that you can build to a level that you never had to begin with. However, it's very difficult to get what you need from food alone. You need high concentrations of amino acids in the right dosages for your particular depletion or imbalance. That's where the science comes in. Since we are all unique - just like our fingerprints - our brain chemistry is as individual as we are. You can't imagine the variety of levels that contribute to the way you feel. It's easy to see why you need a scientific test to determine the levels, and an expert to help you understand the results.</p>
		<p>Some people try to go the self-help route; they use a book or take a product they buy in a health food store or on-line that promises to give their children more clarity or focus.  This may work for some children some of the time, but it does not work for most children. We have found that the chemicals in the brain change as we start to provide the nutrients required. Over the first six weeks of treatment you will notice many improvements; some children react almost immediately. Even though it has taken most children a long time to  deplete their brain chemistry, the good news is that it doesn't take very long to get that chemistry back into balance.</p>
	</section>
	
	<section id="different">
		<h2>What's Different About this Program?</h2>
		<p>Once you begin to understand your child's individual brain chemistry makeup, it is easier to tailor an educational program for his particular needs, one that will finally work. By marrying the science of neurotransmitter balancing, and psycho-education,  you have a tool to change behavior on two levels.  First balancing brain chemistry gives the child a foundation for change.  They now have a platform to build on.  Then you need the specific techniques suited to your child and his brain chemistry profile.  Techniques that work with certain brain chemistry profiles are ineffective with others.  And as the child progresses, the techniques grow and change with him.  We provide the tools, the education, and the counseling necessary to make real strides.
		</p>
	</section>
	
	<section id="who">
		<h2>Who Can Benefit from the Program?</h2>
		<p>Although the Wired Differently Brain Health program was specifically developed for children, we have found that it is often also helpful to parents, even grandparents. There is a genetic component to some neurological conditions, and the life-situations which are hard for a child to deal with, are often hard for his parents or parent to deal with also. If you are wondering whether you or your child qualifies, it's easy to find out. Simply take the Free Self-Test and we will let you know if the program will suit you or your child. If your child qualifies, you will be given the opportunity to purchase the specific laboratory tests that are right for him or her.
		</p>
	</section>

	<section id="newsletter">
		<h2>Stay Informed with Our Newsletter.</h2>
		<ul>
			<li>Learn more about the science behind brain chemistry.</li>
			<li>Understand why your child's behavior is not your fault.</li>
			<li>Receive information on the specialized psycho education for parents to fully understand their child's brain chemistry and adapt their parenting interactions to their child's sensitivities.</li>
			<li>Get tips you can use right now that can make a difference.</li>
		</ul>
		<p>Email us for more information on these topics at assessment@www.WiredDifferently-Kids.com</p>
	</section>



<% end %>


