
<!--	——————————————————————————————————————————————————
		Science # show
		——————————————————————————————————————————————————
-->
<!-- find a way to do this for all views in this controller, rather than one -->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.science").addClass("active")
		});
	</script>
<% end %>



<%= content_for :sidebar do %>
	<!-- <ul class="nav nav-list bs-docs-sidenav affix"> -->
	<ul class="nav nav-pills nav-stacked affix">
		<li class="active"><a href="#neurotransmitters"><i class="icon-chevron-right"></i>Neurotransmitters </a></li>
		<li><a href="#inhibitory"><i class="icon-chevron-right"></i>Inhibitory Neurotransmitters</a></li>
		<li><a href="#excitatory"><i class="icon-chevron-right"></i>Excitatory Neurotransmitters </a></li>
		<li><a href="#systems"><i class="icon-chevron-right"></i>Nervous Systems</a></li>
	</ul>
<% end %>

<%= content_for :main do %>
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">

	    <div class="item active">
	    	<%= image_tag("science/composites/composite-1.jpg") %>
	      <div class="container">
			<!--
	        <div class="carousel-caption">
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
	        </div>
			-->
	      </div>
	    </div>

	    <div class="item">
	     <%= image_tag("science/composites/composite-2.jpg") %>
	      <div class="container">
			<!-- 
	        <div class="carousel-caption">
	            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p> 
    
	        </div>
			-->
	      </div>
	    </div>

	    <div class="item">
	      <%= image_tag("science/composites/composite-3.jpg") %>
	      <div class="container">
			<!-- 
	        <div class="carousel-caption">
	        	<p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
	        </div>
			-->
	      </div>
	    </div>

	  </div> <!-- end div.carousel-inner -->


	  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		-->
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>


	</div><!-- /.carousel -->

	<section id="neurotransmitters">
		<h2>Neurotransmitters: Trauma and Attachment</h2>
		<p><i>Neurotransmitters</i> are the brain chemicals that communicate information throughout our brain and body.  They relay signals between nerve cells, called “neurons.”  The brain uses neurotransmitters to tell your heart to beat, your lungs to breathe, and your stomach to digest.  They can also affect mood, sleep, concentration, weight, behavior, and can cause adverse symptoms when they are out of balance. Neurotransmitter levels can be depleted many ways.  As a matter of fact, it is estimated that 86% of Americans have suboptimal neurotransmitter levels.  Stress, poor diet, trauma, abuse, neurotoxins, genetic predisposition, drug (prescription and recreational), alcohol and caffeine usage can cause these levels to be out of optimal range.</p>

		<p>There are two kinds of neurotransmitters – <i>inhibitory</i> and <i>excitatory</i>.  Excitatory neurotransmitters are not necessarily exciting – they are what stimulate the brain.  Those that calm the brain and help create balance are called inhibitory.  Inhibitory neurotransmitters balance mood and are easily depleted when the excitatory neurotransmitters are overactive.</p> 

		<p>Attachment is one of the most important aspects of a child’s development; it is the essential factor in shaping their minds through interactions. Early deprivation, abuse, trauma, and dysfunctional attachment can disrupt a child’s brain development; thus their production and management of neurotransmitters.  Research on abused and neglected children has indicated the devastating effects of maltreatment on the child’s growing brain; smaller brain size, decreased growth of the corpus callosum (connects the right and left sides of the brain) and impaired growth of inhibitory neurotransmitters, including GABA, that serve to calm the excitable emotional limbic structures.  This can be seen in brain imaging studies and neurotransmitter testing. Even after children are introduced into safe and loving homes, the distorted neurochemistry is still present.</p> 

		<p>Neurotransmitter levels are a blueprint for how your child’s mood, behavior, and overall functioning.  Continual research has shown that our early years create our destiny; as relationships with parent’s changes so do the children’s attachment. This means it is never too late to create a positive change in a child’s life.  Through regulating neurotransmitter levels the ability to create a healthy bond with parents becomes much more feasible.</p>
	</section>
	<section id="inhibitory">
		
		<h3>Inhibitory Neurotransmitters</h3>
		
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#serotonin" data-toggle="tab">Serotonin</a></li>
		  <li><a href="#gaba" data-toggle="tab">GABA</a></li>
		  <li><a href="#dopamine" data-toggle="tab">Dopamine</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="serotonine">
				<p>SEROTONIN is an inhibitory neurotransmitter – which means that it does not stimulate the brain.  Adequate amounts of serotonin are necessary for a stable mood and to balance any excessive excitatory (stimulating) neurotransmitter firing in the brain.  If you use stimulant medications or caffeine in your daily regimen – it can cause a depletion of serotonin over time.  Serotonin also regulates many other processes such as carbohydrate cravings, sleep cycle, pain control and appropriate digestion.  Low serotonin levels are also associated with decreased immune system function.</p>
			</div>
			<div class="tab-pane" id="gaba">
				<p>GABA is an inhibitory neurotransmitter that is often referred to as “nature’s VALIUM-like substance”.  When GABA is out of range (high or low excretion values), it is likely that an excitatory neurotransmitter is firing too often in the brain.  GABA will be sent out to attempt to balance this stimulating over-firing; it is used to calm the excitatory neurotransmitters.  Impaired growth of GABA has been seen in brain imaging studies of abused and neglected children, due to the excessive amount of stress hormones released during these traumatic events.</p>
			</div>
			<div class="tab-pane" id="dopamine">
				<p>DOPAMINE is a special neurotransmitter because it is considered to be both excitatory and inhibitory.  Dopamine helps with depression as well as focus, which you will read about in the excitatory section.</p>
			</div>
		</div>
		
		<h4>Impact of Trauma on Trauma-inhibitory Neurotransmitters</h4>
		<p>Trauma-inhibitory neurotransmitters are developed in infancy and over time especially through touch and having ones needs met; a baby cries to be fed, he is held and receives the milk he needs.  However with neglect, wrongful touch, malnourishment, or being present for traumatic events, can sends mixed messages to the brain; therefore it is unable develop an optimal amount of these inhibitory neurotransmitters.  This often leads to the inability for one to control their responses from excitatory neurotransmitters and contributes to children living in a state of fear and/or hyper-vigilance.</p>
		
	</section>
	
	<section id="excitatory">
		
		<h3>Excitatory Neurotransmitters</h3>
		
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#dopamine" data-toggle="tab">Dopamine</a></li>
		  <li><a href="#norephinephrine" data-toggle="tab">Norepinephrine</a></li>
		  <li><a href="#epinephrine" data-toggle="tab">Epinephrine</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="dopamine">
				<p>DOPAMINE is our main focus neurotransmitter.  When dopamine is either elevated or low – we can have focus issues such as not remembering where we put our keys, forgetting what a paragraph said when we just finished reading it or simply daydreaming and not being able to stay on task.  Dopamine is also responsible for our drive or desire to get things done – or motivation.  Stimulants such as medications for ADD/ADHD and caffeine cause dopamine to be pushed into the synapse so that focus is improved.  Unfortunately, stimulating dopamine consistently can cause a depletion of dopamine over time.</p>
			</div>
			<div class="tab-pane" id="norepinephrine">
				<p>NOREPINEPHRINE is an excitatory neurotransmitter that is responsible for stimulatory processes in the body.  Norepinephrine helps to make epinephrine as well.  This neurotransmitter can cause ANXIETY at elevated excretion levels as well as some “MOOD DAMPENING” effects.  Low levels of norepinephrine are associated with LOW ENERGY, DECREASED FOCUS ability and sleep cycle problems.</p>
			</div>
			<div class="tab-pane" id="epinephrine">
				<p>EPINEPHRINE is an excitatory neurotransmitter that is reflective of stress.  This neurotransmitter will often be elevated when ADHD like symptoms are present.  Long term STRESS or INSOMNIA can cause epinephrine levels to be depleted (low).  Epinephrine also regulates HEART RATE and BLOOD PRESSURE.</p>
			</div>
		</div>
		
		<h4>Impact of Trauma</h4>
		<p>Children who have endured neglect or trauma have utilized these neurotransmitters in order to get their needs met.  This is a survival method, to be the loudest child in the orphanage, use aggression to fight off those that were hurting them, or stay awake in fear of the unknown.  There inhibitory neurotransmitters were not fully developed and they are now running on excitatory neurotransmitter; unable to calm themselves down, or develop proper inhibitory support.</p>
		
	</section>
	
	<section id="systems">
		<h3>Sympathetic and Parasympathetic Nervous Systems</h3><span><a href="http://en.wikipedia.org/wiki/Sympathetic_nervous_system">Wikipedia Link</a></span>
		
		<p style="margin-top:10px;">Sympathetic and parasympathetic divisions typically function in opposition to each other.</p> 
		
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#sympathetic" data-toggle="tab">Sympathetic</a></li>
		  <li><a href="#parasympathetic" data-toggle="tab">Parasympathetic</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="sympathetic">  
				<p>The sympathetic nervous system is responsible for the excitatory messages and parasympathetic nervous system is the regulator of the inhibitory neurotransmitters.  If a child does not get their needs met or develop adequate levels of inhibitory support they are functioning with high excitatory neurotransmitter levels, most commonly from a fear based background.  However, this opposition is better termed complementary in nature rather than antagonistic. For example, one may think of the sympathetic division as the accelerator and the parasympathetic division as the brake. The sympathetic division typically functions in actions requiring quick responses.</p> 
			</div>
			<div class="tab-pane" id="parasympathetic">
				<p>The parasympathetic division functions with actions that do not require immediate reaction.  Therefore without the “breaks” a child will be running on fear based excitatory neurotransmitters until we can adequately balance their brain.</p>
			</div>
			</div>
	
	</section>
<% end %>
