<style>
	.form-horizontal
	.control-label {
		width:300px;
	}
	label { margin-left:20px; }
	.clinician_field { margin-left: -40px; }
	.otherwise { margin-top:20px;}
	.email_field { margin-left: 0px; }
	.submit { margin-top:20px;}
	.optin { font-size: 12px; font-style: italic; }
	.nextTab { margin-left: 340px;}
	div.patient_first_name label { padding-right:20px;}

</style>


<%= simple_form_for(@patient, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

	<ul class="nav nav-tabs">
		<li class="active"><a href='#problems' data-toggle='tab'>Issues</a></li>
		<li><a href='#diagnoses' data-toggle='tab'>Diagnoses</a></li>
		<li><a href='#medications' data-toggle='tab'>Medications</a></li>
		<li><a href='#clinician' data-toggle='tab'>Clinician?</a></li>
	</ul>

	<div class="tab-content">
		
		<!--  form panel with information on the child:  name/age/sex? 
		-->

		<div class="tab-pane active" id="problems">
  			<div class="form-inputs">

				 <%= f.input :first_name,
					:label => "Child's name?  ",
					wrapper_html: { class: 'childs_name'},
					:required => true 
					%>
			    <%= f.input :issues_mood, :as => :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does your child experience mood issues, depression, or unexplained lethargy?" %>
			    <%= f.input :issues_anxiety, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does he/she experience anxiety or nervousness?" %>
			    <%= f.input :issues_stress, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Has he/she experienced a large amount of stress at some point in his/her life?" %>
			    <%= f.input :issues_headache, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does he/she experience headaches or migraines?" %>
			    <%= f.input :issues_sleep, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does he/she have sleep issues?" %>
			    <%= f.input :issues_eating_disorder, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does he/she have an eating disorder?" %>
			    <%= f.input :issues_focus, as: :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Does he/she have focus issues or ADD/ADHD?" %>
			 </div>
			<!-- May want to add a Next button that take the user to the next tab (and also writes the information on this tab to a database, so that we can either (i) recover a partial state if the same person returns, or (ii) email him/her asking if he/she would like to complete the self-test ) 
			<button class="btn nextTab">Next</button>
			--> 
  		</div>

		<div class="tab-pane" id="diagnoses">
			<%= f.input :diagnosed_add_or_adhd, :as => :radio_buttons,:item_wrapper_class => 'inline',				:label => "Has he/she been diagnosed as ADD or ADHD?" %>
			<%= f.input :diagnosed_autism_aspbersgers_or_pdd, :as => :radio_buttons,:item_wrapper_class => 'inline',
				:label => "Has he/she been diagnosed with autism, asperbersgers, or PDD?" %>
				
			<%= f.input :diagnosed_bipolar, :as => :radio_buttons,:item_wrapper_class => 'inline',
				:label => "Has he/she been diagnosed with bipolar disorder?" %>
			<%= f.input :diagnosed_schizophrenia, :as => :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Has he/she been diagnosed with schizophrenia?" %>
			<!-- 'Next' button? -->							
		</div>
	
		<div class="tab-pane" id ="medications">
			
			<%= f.input :on_medication_for_add_adhd, :as => :radio_buttons,:item_wrapper_class => 'inline',
					:label => "Is he/she on medication for ADD or ADHD?" %>
			<%= f.input :on_medication_for_anxiety, :as => :radio_buttons,:item_wrapper_class => 'inline',
				:label => "Is he/she on medication for anxiety?" %>
			<%= f.input :on_medication_for_depression, :as => :radio_buttons,:item_wrapper_class => 'inline',
				:label => "Is he/she on medication for depression?" %>
				
			<!-- 'Next' button? -->					  	
			 	 
		</div>
		
		<div class="tab-pane" id ="clinician">
			<p>Are you working with an BlueSpot-certified clinician or physician?</p> 
			<div style="margin-left:40px;">
			<p>If so, please enter his/her id here.<p>
			<%= f.input :first_name, label: false, placeholder: 'Clinician Id', wrapper_html: { class: 'clinician_field'} %> 
			<p>Your Brain Wellness Report will be sent to your clinician, who will discuss the results with you. </p>  	
			</div>
			<p class="otherwise">Otherwise, please enter your email, and the report will be sent directly to you</p>
			<%= f.input :email, label: false, placeholder: 'Email address', wrapper_html: { class: 'email_field'} %>
			
			<p class="submit">To submit your information, please click here. (*) </p>		
	  	 	<div class="form-actions">
		   		<%= f.button :submit, 'Submit' %>
		  	</div>
			<p class="optin">(*) By so doing, you confirm that the information provided is correct to the best of your knowledge.</p>
		</div>
	
	</div> <!-- end of class tab-content -->

<% end %>

