<!DOCTYPE html>
<!-- Makes login/edit buttons pointers -->
<style type="text/css">
 a:hover {
  cursor:pointer;
 }
</style>
<html>
  <head>
	<meta charset="utf-8">
	
    <title><%= content_for?(:title) ? yield(:title) : "Wired Differently" %></title>
    <%= include_gon %>
    <meta name="description" content="<%= content_for?(:fdescription) ? yield(:description) : "Wired Differently" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %> 
	
	<!-- Foxycart Files  -->
	<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.18/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="//cdn.foxycart.com/wired-different/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
	<!-- end Foxycart files  -->
	
	<!-- I don't think this editor is actually used in the system; could never figure out how to get one-line header 
	<script type="text/javascript">
		var CKEDITOR_BASEPATH = '/assets/ckeditor/';
	</script>
	-->

	<!-- sticky footer: goes to bottom of view port for short pages. Not working. Why? -->        
	<style>
		html, body { height: 100%;}
		.wrapper {
			min-height: 600px; /* versus 100% — better than nothing but sort of a hack */
			margin: 0 auto -80px;
		}
		.footer, .push {height: 80px;}	
	</style>

    <%= csrf_meta_tags %>

    <%= yield(:head) %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
 
	<!-- nav bar —————————————————————————————————————————————— -->

	<%= render "/shared/navbar_wrapper" %>
	
	 <!-- Closes modal on successful login -->
	<% if current_user != nil %>
		<script>
			parent.$.fn.colorbox.close();
		</script>
	<% end %>
 	
	
		<!-- Main
	    ———————————————————————————————————————————————————————— -->
		<div id="main" role="main">
      		<div class="container">
				
        		<div class="content">
	
				  <div class="wrapper"> <!-- for sticky footer, but not working -->
          			<div class="row">
						<div class="span3 sidebar">
							<%= yield :sidebar%>
						</div>
            			<div class="span9">
              				<!-- <## render 'layouts/messages' %> -->
							<!-- Rails flash messages ————————————————————————————————— -->
							<!-- Is this putting the pale brown bar on all the pages? 
							<p class="notice"><## notice %></p>
							<p class="alert"><## alert %></p>
							-->
							<!-- main page content ————————————————————————————————— -->
              				<%= yield :main %>
            			</div>
          			</div>
				  </div>				<!-- for sticky footer, but not working -->
				  <div class="push"></div>	<!-- for sticky footer, but not working -->
					<footer>
						<div class="row">
							<div class="span6 copyright">
								Copyright &copy; 2013 Blue Spot Health Inc., All rights reserved.
							</div>
							<div class="span6 modal_overlay_links">
			 			</div>
					</footer>

        		</div> <!-- ! end of .content -->
      		</div> <!--! end of .container -->
    	</div> <!--! end of #main -->

		<!-- modal displays ——————————————————————————————————————— -->

		<%= render "/shared/modal_displays" %>


		<!-- javascript ———————————————————————————————————————— -->
		
		<%= yield :end_js %>
	

		<!-- Gooogle analytics ————————————————————————————————— -->
		<%= render "shared/google_analytics" %>


	</body>
</html>
